* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 30px;
    background-color: red;
}

.slider {
    flex: 1;
    /* qualquer coisa que passar do tamanho da tela vai ser qubrado, pra nao gerar barra de rolagem. usamos o overflow: hidden*/
    overflow: hidden;
}

.slider--width {
    height: 100%;
    /*Flex pra um item ficar ao lado do outro*/
    display: flex;
    transition: all ease 0.3s;
}

.slider--item {
    width: 100vw;
    /*inherit herda a altura*/
    height: inherit;
    /* Centraliza as imagens*/
    background-position: center;
    /* Aumenta e diminui o tamanho dependendo do monitor*/
    background-size: cover;
    /*
    Caso eu adicione um texto na imagem
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
    */
}

.slider--controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--control {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
    transition: color 250ms;
}

.slider--control::after,
.slider--control::before {
    content: '';
    position: absolute;
    inset: 0;
}

.slider--control::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%
    }

    50% {
        background-position: 70% 100%
    }

    100% {
        background-position: 31% 0%
    }
}

.slider--control::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
            /* Top-left */
            var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
}

.slider--control:where(:hover, :focus)::after {
    clip-path: polygon(
            /* Top-left */
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),

            calc(100% - var(--border-width)) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),

            /* bottom-right 2 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
    transition: 200ms;
}

.slider--control:where(:hover, :focus) {
    color: #fff;
}